<a href="https://colab.research.google.com/github/DhatriPriya/DhatriPriya_INFO5731_Fall2021/blob/main/In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/01/2021, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
string = 'INFO5731FALL2021'
print(len(string))

16

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here

string = 'google.com'
count = {}  
for n in string: 
   if n in count: 
      count[n] = count[n] + 1
   else: 
      count[n] = 1
print (count)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
list = [-10, 2, 6, 9, -2]
sum = 0
i = len(list)
for n in range(i):
  sum = sum + list[n]
print (sum)

5

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
string = 'restart'
i = len(string)
c = string[0]
string = string.replace(char, '$')
rep = string[1:i]
string = char + rep
print(string)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
S = 0
a = float(input("a"))
b = float(input("b"))
S = S + (3.14 * (1 + a/b)**3)
print(S)

a1
b1
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50, 6:60}
newdic = {**dic1, **dic2, **dic3}
print(newdic)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
Tuple = ("I", "N", "F", "O", 5, 7, 3, 1)
if "N" in Tuple:
 print("The element N is in Tuple")
else:
 print("The element N is not in the Tuple")

The element N is in Tuple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
set = {1, 4, -1, 10, 35}
a = min(set)
b = max(set)
print("Maximum value of the set is : ", b)
print("Minimum value of the set is : ", a)

Maximum value of the set is :  35
Minimum value of the set is :  -1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
           'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091','py0080','ttp0037','hc0439','ri0094','pk0339', 'hn0145','mn0426']

In [ ]:
# write your answer here

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
from array import *
arr = [1,2,3,2,5,6,5]
n = len(arr)
for i in range(0, n):
   for j in range(i+1, n):
       if(arr[i] == arr[j]):
           print(arr[j])
       else:
           print(-1)

-1
-1
-1
-1
-1
-1
-1
2
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
-1
5
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta 
year = 1998
stamp = date(year, 1, 1)
stamp = stamp + timedelta(days= 7 - stamp.isoweekday()) 
while stamp.year == year:
    print(stamp)
    stamp = stamp + timedelta(days=7)

1998-01-04
1998-01-11
1998-01-18
1998-01-25
1998-02-01
1998-02-08
1998-02-15
1998-02-22
1998-03-01
1998-03-08
1998-03-15
1998-03-22
1998-03-29
1998-04-05
1998-04-12
1998-04-19
1998-04-26
1998-05-03
1998-05-10
1998-05-17
1998-05-24
1998-05-31
1998-06-07
1998-06-14
1998-06-21
1998-06-28
1998-07-05
1998-07-12
1998-07-19
1998-07-26
1998-08-02
1998-08-09
1998-08-16
1998-08-23
1998-08-30
1998-09-06
1998-09-13
1998-09-20
1998-09-27
1998-10-04
1998-10-11
1998-10-18
1998-10-25
1998-11-01
1998-11-08
1998-11-15
1998-11-22
1998-11-29
1998-12-06
1998-12-13
1998-12-20
1998-12-27